@media (min-width:768px){
/*html .row-eq-height{
    display:table;
}
html .col-eq-height{
    display:table;
}*/
/*html .row-eq-height{
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
html .col-eq-height{
  display: table-cell;
  float: none;
  height: 100%;
}*/
/*html .row-eq-height {
  overflow: hidden; 
}
html .col-eq-height{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}*/
/*html .col-eq-height{
    min-height:445px;
}*/

}