#info-client{
color:#FFF;
background:#333;
text-align:center;
margin-bottom: 20px;
font-size: 15px;
box-shadow: 1px 1px 3px #777;
}

.home-search label {
    display: initial;
}

.w3-margin-right {
    margin-right: 16px!important;
}


.middle {
 z-index: 999;
 position: fixed;
 border-top: 5px solid red;
 border-right: 5px solid pink;
 border-bottom: 5px solid red;
 border-left: 5px solid pink;
 border-radius: 50%;
 width: 70px;
 height: 70px;
 -webkit-animation: spin 2s linear infinite;
 animation: spin 2s linear infinite;
 left: 50%;
 top: 50%;
 margin: -35px 0 0 -35px;
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.radio-inline{
line-height:28px;
}

.radio-txt{
margin-left:5px;
}

.form-color{
    background: #333;
    border-right: 1px solid;
    border-left: 1px solid;
}

.pop-txt{
    text-align: center;
    font-size: 17px;
}
    
.select2-selection__rendered,.select2-container--below, .select2{
    width:100%!important;
}

.low-price{
    margin-top: -11px;
    position: absolute;
    max-height: 44px;
    margin-bottom: -10px;
    margin-left: 20px;
    vertical-align: inherit;
}

input[type=checkbox]{
height:20px;
width:20px;
}


.nolrpad {
padding-right: 0; padding-left: 0;
}

/*
.middle{
    display:none;
    z-index: 99;
    width: 80px;
    height: 80px;
    position: absolute;
    background: url(../images/loader.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    left: 50%;
    top: 25%;
    margin: -40px 0 0 -40px;
}
*/

/*
.middle {
display:none;
    z-index: 99;
position: absolute;
  border: 8px solid #F1F1F1;
  border-radius: 50%;
  border-top: 8px solid #ff0000;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
    left: 50%;
    top: 25%;
    margin: -40px 0 0 -40px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/










.pd-tp-bo {
padding:10px 0px 10px 0px;
margin-right:0px; 
margin-left:0px; 
background:#FFF; 
box-shadow: 1px 1px 3px #777;
}

.nav-tabs {
    border-bottom: 0px solid #ddd;
    background:#FFF;
    box-shadow: 1px 1px 3px #777;
    -webkit-box-shadow: 1px 2px 3px #777;
    
}
.f-active{opacity:0.5;}

#search-prods, #show-prod-price, .promo-label-display{
display:none;
}


.prod-price{
text-align:right;
margin-bottom:0px;
margin-top: 15px;
font-size: 27px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
border: 0px solid transparent;
}

.nav-tabs>li>a {
    border: 0px solid transparent;
    border-radius:0;
}

.panel {
    border: 0px solid transparent;
     border-radius: 0px;
    -webkit-box-shadow: 1px 2px 3px #777;
    box-shadow: 1px 2px 3px #777;
}

.panel-default>.panel-heading {
    background-color: #FFF;
     border-bottom: 1px solid #999;
}

.panel-footer {
background-color: #FFF;
    border-top: 1px solid #999;
}

.select2-container--default .select2-selection--single{
border-radius:0px;
height: 34px;
padding:2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;}

.btn, .form-control{
    border-radius: 0px;
}

.flags{
cursor:pointer;
max-height:40px;
float: right;
}

.type-1{
margin-right: 0px;
margin-left: 0px; padding-top:15px; 
-webkit-box-shadow: 1px 2px 3px #777;
box-shadow: 1px 2px 3px #777;}


input[type="radio"]{
    height: 20px;
    width: 20px;}

.xs-img{
max-width:36px;

}



@media screen and (max-width: 769px) {
.xs-img{
margin:0 auto;
}
}